#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_aiden
#build/aidend::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_aiden)

DEB_INSTALL_EXAMPLES_aidend += debian/examples/*
DEB_INSTALL_MANPAGES_aidend += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix aidend
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f aiden-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake aiden-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_aiden
	src/test_aiden

# Ensure wrapper is set executable
binary-post-install/aidend:
	chmod +x $(cdbs_curdestdir)usr/bin/aidend
binary-post-install/aiden-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/aiden-qt
