[Desktop Entry]
Encoding=UTF-8
Name=Aiden
Comment=Aiden P2P Cryptocurrency
Exec=/usr/bin/aiden-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/aiden128.png
MimeType=x-scheme-handler/bitcoin;
Categories=Office;
Name[en_US]=aiden-qt.desktop
